# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist
build
out
coverage

# Environment files
.env
.env.*.local

# Logs
*.log

# IDE/editor settings
.vscode
.idea

# Other ignores
*.min.js
*.min.css
